@import './game.scss';
@import './board.scss';
@import './column.scss';
@import './checker.scss';
@import './menu.scss';
@import './scoreboard.scss';
@import './dialog.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  background-color: #e9ece5;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
}

button, label {
  margin: 0 1em
}
