@import './game';
@import './board';
@import './column';
@import './checker';
@import './menu';
@import './scoreboard';
@import './dialog';
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  background-color: #e9ece5;
  font-family: 'Open Sans Condensed', sans-serif;
  height: 100%;
  width: 100%;
}

button, label {
  margin: 0 1em
}
