$column-background-color: #3b3a36;

#board {
  bottom: 75px;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 75px;

  .column {
    border-right: thin dotted $column-background-color;
    display: inline-block;
    height: 100%;
    transition: all 0.2s ease;
  }
  .column:hover {
    background-color: rgba($column-background-color, 0.1);
  }
  .column:last-child {
    border-right: none;
  }
}

#board[data-board-width='7'] {
  .column {
    width: 14.2%;
  }
}

#board[data-board-width='8'] {
  .column {
    width: 12.5%;
  }
}

#board[data-board-width='9'] {
  .column {
    width: 11%;
  }
}

#board[data-board-width='10'] {
  .column {
    width: 9.9%;
  }
}
