.player {
  display: inline-block;
  line-height: 50px;
  text-align: center;
  width: 25%;
}
#scoreboard {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom: thin solid black;
  text-align: center;
}
